extends ./layout/layout

block specified_ref
    link(rel="stylesheet" href="/stylesheets/theme.css")
    script(type="text/javascript" src="socket.io/socket.io.js")
block content
    div#self_menu(style="display:none;")
        button 选举指挥官
    div#unknown_menu(style="display:none;")
        button 身份认证
    div#commander_menu(style="display:none;")
        button 上交钥匙
    div#case_menu(style="display:none;")
        button 开启补给箱
    div
        span#players.players
    div
        span#location
    canvas#game(width="100%" height="100%")
    script(type="text/javascript" src="https://cdn.bootcss.com/require.js/2.3.3/require.min.js")
    script(type="text/javascript" src="/scripts/game.js")