extends ./layout/layout

block specified_ref
    link(rel="stylesheet" href="/stylesheets/theme.css")
    script(type="text/javascript" src="socket.io/socket.io.js")
block content
    canvas#game(width="100%" height="100%")
    .modal.fade#election
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal") &times;
                    h4.modal-title 投票结果
                .modal-body
                    table.table
                        tr
                            th.text-center 票码
                            th.text-center 伞兵编号
                .modal-footer.text-center
                    a.btn.btn-primary(href="#" data-dismiss="modal") 关闭
    .modal.fade#info
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal") &times;
                    h4.modal-title 个人信息
                .modal-body
                    table.table
                        tr.text-center
                            td
                                strong 编号
                            td#playerId
                        tr.text-center
                            td
                                strong 小队暗号
                            td#code
                        tr
                            td
                                strong 持有钥匙
                            td#caseKeys
                .modal-footer.text-center
                    a.btn.btn-primary(href="#" data-dismiss="modal") 关闭
    .modal.fade#logpanel
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal") &times;
                    h4.modal-title 行动日志
                .modal-body
                    ul#log_list
                .modal-footer.text-center
                    a.btn.btn-primary(href="#" data-dismiss="modal") 关闭
    script(type="text/javascript" src="https://cdn.bootcss.com/require.js/2.3.3/require.min.js")
    script(type="text/javascript" src="/scripts/game.js")