doctype html
html
    head
        meta(name="charset" content="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content=keywords ? keywords : "")
        meta(name="description" content=description ? description : "")
        title= title
        link(rel="shortcut icon" href="/favicon.ico")
        script()
        script("")
        block specified_ref
    body
        block content