doctype html
html
    head
        meta(name="charset" content="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(rel="shortcut icon" href="/favicon.ico")
        script(type="text/javascript" src="http://cdn.html5quintus.com/v0.2.0/quintus-all.min.js")
        block specified_ref
    body
        block content